<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>HUOQIU</title>
		<meta name="description" content="description">
		<meta name="author" content="Evgeniya">
		<meta name="keyword" content="keywords">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% load staticfiles %}
		<link href="{% static 'plugins/bootstrap/bootstrap.css' %}" rel="stylesheet">
		<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
		<link href="{% static 'css/style_v1.css' %}" rel="stylesheet">
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
				<script src="http://getbootstrap.com/docs-assets/js/html5shiv.js"></script>
				<script src="http://getbootstrap.com/docs-assets/js/respond.min.js"></script>
		<![endif]-->
	</head>
<body>
<div class="container-fluid">
	<div id="page-login" class="row">
		<div class="col-xs-12 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
			<div class="text-right">
				<!--<a href="page_register_v1.html" class="txt-default">Need an account?</a>-->
			</div>
			<div class="box">
			<form method="post" action="{% url 'chpass_handle' %}">
			{% csrf_token %}
				<div class="box-content">
					<div class="text-center">
						<h3 class="page-header">火球密码管理</h3>
					</div>
					<div class="form-group">
						<label class="control-label">用户名</label>
						<input type="text" class="form-control" name="username" />
					</div>
                    <div class="form-group">
						<label class="control-label">邮箱地址</label>
						<input type="text" class="form-control" name="email" />
					</div>
					<div class="form-group">
						<label class="control-label">邮箱验证码</label>
						<input type="text" class="form-control" name="mailcode" />
					</div>
					<div class="form-group">
						<label class="control-label">新密码</label>
						<input type="password" class="form-control" name="newpass" />
					</div>
					<div class="form-group">
						<label class="control-label">确认新密码</label>
						<input type="password" class="form-control" name="confirmpass" />
					</div>
					<div class="text-center">
						<button class="btn btn-primary">修 改</button>
					</div>
				</div>
			</form>
			</div>
		</div>
	</div>
</div>
</body>
</html>
