<style type="text/css">
html,body{background:#000; color:#090;}
</style>

{% load staticfiles %}
<div style="margin-top:10px;">
<p id='log'></p>
</div>
<script src="/static/plugins/jquery/jquery.min.js"></script>
<script src="/static/plugins/jquery-ui/jquery-ui.min.js"></script>
<script>
$(function(){
var line = {{line}};
var pid = {{pid}};
var hid = {{hid}};
var tid = {{tid}};
console.log(pid,hid,tid,line)
    //var url = 'http://'+location.host + '/autodeploy/ajxloghandle/'+'&pid'+pid+"&hid"+hid+'&line'+line;
    //var ulre='http://'+location.host + '/autodeploy/ajxloghandle/'+pid+'&'+hid+'&'+line;
    //console.log(ulre);
$.ajax({
    url: "{% url 'autodeploy:ajx_handle_log' pid=pid hid=hid tid=tid line=line %}",
    type: 'GET',
    success: function(data){ 
        if(data != 500){
          $('#log').append('<p>'+data+'</p>');
          var t  = setInterval(function(){
              line++;
              var url = "http://"+location.host + '/autodeploy/ajxloghandle/'+pid + ',' + hid + ',' + tid + ',' +line;

             $.ajax({
                url: url,
                type: 'GET',
                success: function(data){
                     if(data != 500){
                         $('#log').append('<p>'+data+'</p>');
                         window.scrollTo(0,document.body.scrollHeight);
                     }else{
                          clearInterval(t);
                     }
                },
                error: function(data) {
                    alert('服务器提出了一个问题，请找运维寻求答案！');
                    return false;
                 }
             });
          },200); 
        }else{
          alert('服务器提出了一个问题，请找运维寻求答案！');
        }
    },
    error: function(data) {
        alert('服务器提出了一个问题，请找运维寻求答案！');
        return false;
    }
});
});

</script>
