{% extends "base.html" %}
{% block content %}
{% load staticfiles %}
{% load audep_extras%}
<div class="row" style="margin-top:20px;">
	<div class="col-xs-12">
		<div class="box">
			<div class="box-content">
				<div class="col-xs-6">
					<b>任务详情</b>
					<legend></legend>
					<p>项目名称：{{task.project.shortname}}</p>
					<p>项目分支：{{task.gitbranch}}</p>
					<p>上线原因：{{task.comment}}</p>
			
				</div>
				<div class="col-xs-12">
					<br>
					<table class="table table-hover">
						<thead>
							<tr>
								<th>时间</th>
								<th>日志</th>
							</tr>
						</thead>
						<tbody>
						{% for lo in logs %}
							<tr>
								<td class="m-ticker">{{ lo.createtime| timestamp}}</td>
								<td>{{ lo.content }}</td>
							</tr>
					    {% endfor %}
						</tbody>
					</table>
				</div>
				<div class="clearfix"></div>
		
			</div>
		</div>
	</div>
</div>
{% endblock %}